* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("/media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.base-background {
  background-color: rgba(32, 37, 41, 0.75);
}

.footer {  
  bottom:0%; 
}

.link-hover:hover {
  font-weight: bold;
}

.bottom {
  margin-bottom: 100px;
}

.height {
  height: 600px
}

.dropdown-item:hover {
    background-color: #df4759
}

nav {
  position: fixed;
  height: 100%;
}