* {
  padding: 0px;
  margin: 0px;
}

body {
  background-image: url("/media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.base-background {
  background-color: rgba(32, 37, 41, 0.75);
}

.footer {
  bottom: 0%;
}

.link-hover:hover {
  font-weight: bold;
}

.bottom {
  margin-bottom: 100px;
}

.height {
  height: 600px
}

.dropdown-item:hover {
  background-color: #d34455
}

.navbar-side {
  position: fixed;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .navbar-side {
    width: 100px;
    position: fixed;
    flex-direction: column;
    height: 100%;
  } 
}

@media only screen and (max-width: 1500px) and (min-width: 600px) {
  .margin-left {
    margin-left: 110px;
  }
}

.color-box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
