body {
  background-image: url("/media/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.base-background {
  background-color: rgba(32, 37, 41, 0.75);
}

.footer {  
  position: fixed; 
  bottom:0%; 
}

.link-hover:hover {
  font-weight: bold;
}

.bottom {
  margin-bottom: 150px;
}

.height {
  height: 500px
}

.dropdown-item:hover {
    background-color: #df4759

}